<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <base th:href="@{/}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="irstheme">
    <title>麻涌介绍-智联麻涌</title>
    <link href="css/index/themify-icons.css" rel="stylesheet">
    <link href="css/index/flaticon.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index/index.css">
    <link href="css/index/owl.carousel.css" rel="stylesheet">
    <link href="css/index/owl.theme.css" rel="stylesheet">
    <link href="css/index/swiper.min.css" rel="stylesheet">
    <link href="css/index/style.css" rel="stylesheet">
    <link href="fonts/alibaba/iconfont.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet"href="css/article/pagination.css">
    <style>
        .header-style-1 {
            background-color: #102541;
        }
    </style>
</head>

<body>
<div class="page-wrapper">

    <!-- 引入preloader -->
    <div class="preloader" th:insert="~{includePortal :: preloader}"></div>

    <!-- 引入header -->
    <header id="header" class="site-header header-style-1" th:insert="~{includePortal :: header}"></header>

    <br>

    <!-- 页面主体 -->
    <section class="blog-single-section blog-single-left-sidebar-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="project-single-content">
                        <div class="content-area">
                            <h2>简介</h2>
                            <br>
                            <div class="img-holder">
                                <img src="/imgs/mcintro/mcintro1.jpg" alt>
                            </div>
                            <br>
                            <div class="img-holder">
                                <img src="/imgs/mcintro/mcintro2.jpg" alt>
                            </div>
                            <br>
                            <p>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp麻涌镇位于珠江口东岸、东莞市西北部，毗邻广州市开发区，是广东省中心镇，也是著名作家陈残云先生的小说《香飘四季》的原创地，全镇总面积91.11平方公里，常住人口20万人，其中户籍人口8.4万，下辖13个村委会，2个居委会。麻涌宋时立村（1140年），名“古梅乡”。由于河网密布，1263年改名为“麻涌乡”。
                                1986年建镇。香蕉是岭南四大名果之一，也是东莞麻涌传统作物之一,历史悠久，久负盛名。1958年，麻涌香蕉获得《农业社会主义建设先进单位》奖状。2016年，麻涌香蕉获国家农产品地理标志。
                                麻涌镇先后获得“中国曲艺之乡”“中国粮油物流加工第一镇” [1]  “全国文明镇”“全国绿化先进集体”“中国最具魅力乡镇”等荣誉称号。 [2]  2019年9月11日，入选“2018中国乡镇综合竞争力100强”。 [3]  2019年10月，麻涌镇入选“2019年度全国综合实力千强镇”。 [4]
                            </p>
                            <div class="img-holder">
                                <img src="/imgs/mcintro/mcintro3.jpg" alt>
                            </div>
                            <br>
                            <div class="img-holder">
                                <img src="/imgs/mcintro/mcintro4.jpg" alt>
                            </div>
                            <br>
                            <p>
                                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp广东麻涌华阳湖国家湿地公园位于广东省东莞市，由华阳湖、麻涌河、第二涌、第三滘以及马滘河组成，四至边界为：东起麻涌河，南至第二涌与麻涌河交汇处，西至马滘河，北到西环路大桥。总面积为352.09公顷。涵盖了永久性河流、洪泛平原和库塘两个湿地型。 [1-2]
                                2019年7月，华阳湖国家湿地公园被广东省林业局、广东省林学会认定为广东省首批自然教育基地。 [3]
                            </p>
                            <br>
                            <div class="challange-solution-section">
                                <div class="panel-group theme-accordion-s1" id="accordion">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1" aria-expanded="true">麻涌特产有什么？</a>
                                        </div>
                                        <div id="collapse-1" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <p>麻涌最出名的就是香蕉，麻涌盛产香蕉...</p>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse-2">麻涌经济如何？</a>
                                        </div>
                                        <div id="collapse-2" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>全市排行第13名，全国第108名...</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> <!-- 页面主体结束 -->

    <!-- start site-footer -->
    <footer class="site-footer">
        <div class="lower-footer">
            <div class="container">
                <div class="row">
                    <div class="separator"></div>
                    <div class="col col-xs-12">
                        <p class="copyright">版权所有 &copy; 奥利奥（仅供学习参考）</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<script src="js/index/index.js"></script>
<script src="js/index/bootstrap.min.js"></script>
<script src="js/index/jquery-plugin-collection.js"></script>
<script src="js/index/script.js"></script>
</body>
</html>