<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- 引入head -->
<head th:insert="~{includePerson :: head}"></head>
<body>

    <header class="ydc-header">
        <div class="ydc-entered">
            <div class="ydc-header-content ydc-flex">

                <div class="ydc-column">
                    <a href="index.html" class="ydc-column-ydc-logo">
                        <img src="images/person/icon/1logo.png">
                    </a>
                </div>

                <!-- 登录了才显示完整部分 -->
                <div class="ydc-column">
                    <div class="ydc-column-user">
                        <div class="ydc-user-photo" th:if="${not #strings.isEmpty(session.user)}">
                            <a href="javascript:;">
                                <!-- 头像链接 -->
                                <img th:src="${session.user.headImage}" src="images/person/icon/photo.png" alt="headImages">
                            </a>
                        </div>
                        <div class="ydc-user-info">
                            <div class="ydc-user-info-name" th:if="${not #strings.isEmpty(session.user)}">
                                <a href="user/info.jsp" th:text="${session.user.name}">用户名</a>
                            </div>
                            <div class="ydc-user-info-func ydc-flex">
                                <span class="ydc-tag" th:if="${not #strings.isEmpty(session.user)}">尊贵用户</span>
                                <a href="auth/do/user/logout" th:if="${not #strings.isEmpty(session.user)}">退出登录</a>
                                <a href="/">返回首页</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </header>

    <!-- content YDC begin -->
    <section>
        <div class="ydc-content-slide ydc-body">
            <div class="ydc-flex">
                <!-- left begin -->
                <div class="ydc-column ydc-column-2">
                    <div class="ydc-menu">
                        <ul>

                            <!-- 登录了才显示完整部分 -->
                            <li class="ydc-menu-item" th:if="${not #strings.isEmpty(session.user)}">
                                <a href="personIndex.html"  class="active"><i class="ydc-icon ydc-icon-home fl"></i>我的首页</a>
                            </li>

                            <li class="ydc-menu-item" th:if="${not #strings.isEmpty(session.user)}">
                                <span class="ydc-menu-sub-title">
                                    <i class="ydc-icon ydc-icon-file fl"></i>管理
                                </span>
                                <ul>

                                    <li>
                                        <a href="personAsset.html">个人收藏</a>
                                    </li>
                                    <li>
                                        <a href="personRecord.html">浏览记录</a>
                                    </li>
                                </ul>
                            </li>

                            <li class="ydc-menu-item">
                                <span class="ydc-menu-sub-title">
                                    <i class="ydc-icon ydc-icon-set fl"></i>设置
                                </span>
                                <ul>
                                    <li th:if="${not #strings.isEmpty(session.user)}">
                                        <a href="personInfo.html">账号信息</a>
                                    </li>
                                    <li th:if="${not #strings.isEmpty(session.user)}">
                                        <a href="personPassword.html">修改密码</a>
                                    </li>
                                    <li th:if="${#strings.isEmpty(session.user)}">
                                        <a href="javascript:void(0)">修改密码</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- left end -->
                <!-- right begin -->
                <div class="ydc-column ydc-column-8">
                    <div class="ydc-release-content">
                        <div class="ydc-tabPanel ydc-tabPanel-release">
                            <div class="ydc-release-tab-head">
                                <ul>
                                    <li class="hit">修改密码</li>
                                </ul>
                            </div>
                            <div class="ydc-panes">
                                <form action="auth/do/user/update/password">
                                    <div class="ydc-reg-form-class ydc-reg-form-reg" style="margin-top:40px;">

                                        <div class="ydc-reg-form-group clearfix">
                                            <label>帐号名称:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="loginEmail" name="name" class="ydc-form-control" autocomplete="off" placeholder="" style="width:200px;">
                                                <div class="ydc-reg-form-text">
                                                    <p>请输入2至14字的帐号名称</p>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="ydc-reg-form-group clearfix">
                                            <label>邮箱:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="user4" name="email" class="ydc-form-control" autocomplete="off" placeholder="">
                                                <div class="ydc-reg-form-text">
                                                    <p>请输入邮箱并验证</p>
                                                </div>
                                            </div>
                                            <div class="ydc-reg-yzm">
                                                <button>获取验证码</button>
                                            </div>
                                        </div>

                                        <div class="ydc-reg-form-group clearfix">
                                            <label>验证码:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="user5" name="code" class="ydc-form-control" autocomplete="off" placeholder="">
                                            </div>
                                            <div class="ydc-reg-form-text">
                                                <p>请打开该邮箱查看验证码</p>
                                            </div>
                                        </div>

                                        <div class="ydc-reg-form-group clearfix">
                                            <label>新密码:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="user6" name="" class="ydc-form-control" autocomplete="off" placeholder="">
                                            </div>
                                            <div class="ydc-reg-form-text">
                                                <p>请输入6至12为新密码</p>
                                            </div>
                                        </div>

                                        <div class="ydc-reg-form-group clearfix">
                                            <label>重复密码:</label>
                                            <div class="ydc-reg-form-input">
                                                <input type="text" id="user7" name="password" class="ydc-form-control" autocomplete="off" placeholder="">
                                            </div>
                                            <div class="ydc-reg-form-text">
                                                <p>请重复输入密码</p>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="ydc-reg-form-group">
                                        <div class="ydc-reg-form-button" style="margin-left:255px;">
                                            <a class="btn fl" href="info.html">确定修改</a>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right end -->
            </div>
        </div>

        <!-- 引入foot -->
        <div class="ydc-footer" th:include="~{includePerson :: foot}"></div>

    </section>
    <!-- content YDC end -->

</body>
</html>